<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <style>
        .container {
            position: relative;
            width: 100%;
            height: 95vh;
            border: 1px solid #ccc;
        }

        .element {
            position: absolute;
            cursor: move;
        }

        .card {
            background-color: #fff;
            border: 1px solid #000;
            padding: 10px;
        }

        .connector {
            position: absolute;
            z-index: 0;
        }
        .toolbar button{
            margin: 10px 0px;
            background-color: #fff !important;
            color: #333 !important;
            border-radius: 30px;
            border: solid 1px #eee;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            padding: 10px;
        }
        .toolbar button:hover{
            background-color: #A90e09 !important;
        }
        .card button{
            margin: 10px 0px;
            background-color: #A90e09 !important;
            color: #333 !important;
            border-radius: 30px;
            border: solid 1px #eee;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            padding: 10px;
        }
        .cardImage{
            width: 250px;
            height: auto;
        }
        .container button, .container p, .container input, .container h3{
            font-family: "Poppins", sans-serif;
        }
        .titleElement{
            border: solid 1px #eee;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            padding: 10px;
            border-radius: 10px;
        }
        .messageElement{
            border: solid 1px #eee;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            padding: 10px;
            border-radius: 10px;
        }
        .messageElement button{
            margin: 10px 0px;
            background-color: #A90e09 !important;
            color: #333 !important;
            border-radius: 30px;
            border: solid 1px #eee;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            padding: 10px;
            width: 120px;
        }
    </style>
</head>

<body>
    <div class="d-flex flex-row">
        <div class="toolbar col-2 p-2 d-flex flex-column ">
            <button onclick="addElement('card')">Add Card Element</button>
            <button onclick="addElement('title')">Add Title Element</button>
            <button onclick="addElement('message')">Add Message Element</button>

            <div id="hierarchy"></div>

        </div>
        <div class="flowwrapper col-10 d-flex justify-content-center align-items-center p-2 bg-white">
            <div class="container">
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.8/js/jsplumb.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../scripts/chatFlowGenerate.js" type="text/javascript"></script>

</body>

</html>